@charset "UTF-8";

body {
  font-family: "Open Sans", sans-serif;
  padding: 25px 20px;
  margin: 0;
  text-align: center;
  background: #f5f5f5;
}

h1 {
  font-size: 30px;
  text-align: center;
  margin: 0;
  padding: 10px;
  background: #ea8f26;
  text-shadow: 0px 2px 0 rgba(0, 0, 0, 0.2);
  line-height: 100%;
  color: white;
  display: inline-block;
  border-radius: 10px;
}

h2 {
  text-align: center;
  font-size: 25px;
  font-weight: 400;
  margin: 10px 0 30px 0;
  color: #333;
}

.burger {
  max-width: 500px;
  margin: 0 auto;
}

.burger > div {
  margin: 0 auto;
}

hr {
  border: none;
  border-top: 4px dotted #aaa;
  width: 60%;
  margin: 50px auto;
}
